[Desktop Entry]
Type=Service
ServiceTypes=inode/directory
MimeType=all/all;
Actions=OpenInGuake;
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,inode/directory

[Desktop Action OpenInGuake]
Name=Open in guake
Icon=guake
Exec=guake -n %U && guake -v

